.carousel{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 3rem 2rem 3rem;
    &-box{
        &-item {
            display: flex;
            gap: 1.3rem;
            background: #F5F5FA;
            border-radius: 12px;
            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }    
            &-text{
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                a{
                    color: #B3B3BA;
                }
                a:hover{
                    color: #24A3FF;
                    path{
                        stroke: #24A3FF;
                    }
                }
                h1{
                    color: #F0145A;
                }
                span{
                    font-family: 'montserrat-bold';
                    color: #B3B3BA;
                    font-size: 16px;
                }
                span:last-child{
                    font-family: 'montserrat-regular';
                    font-size: 12px;
                    color: #B3B3BA;
                }
            }    
        }
    }
}
.owl-carousel {
    .owl-dots {
      margin-top: 30px;
      display: flex;
      justify-content: center;
  
      .owl-dot {
        background: #24a3ff;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin-right: 15px;
        opacity: 0.2;
        transition: opacity 0.3s;
  
        &.active {
          opacity: 1;
        }
      }
    }
  }
  