body{
    li{
        list-style: none;
        display: inline;
    }
    a{
        text-decoration: none;
        font-family: 'montserrat-regular';
    }
    span{
        font-family: 'montserrat-regular';
    }
    p{
        font-family: 'montserrat-regular';
    }
    h1{
        font-family: 'montserrat-bold';
    }
    h2{
        font-family: 'montserrat-bold';
    }
    h3{
        font-family: 'montserrat-bold';
    }
    h4{
        font-family: 'montserrat-bold'; 
    }
    h6{
        font-family: 'montserrat-bold'; 
    }
}